<h1>petit ratio du frigo</h1>

    <% @refrigerateurs.each do |refrigerateur|  %>

    <p><%= refrigerateur.name %> - <%= refrigerateur.id %>  </p>
    <% end %>
    

    <%= form_with model: @refrigerateur, url: "/create-refrigerateur", method: :get  do |form| %>
        <%= form.label :name, "Nom du frigo" %>
        <%= form.text_field :name %>
        <%= form.submit %>
      <% end %>
