<h1>petit ratio du frigo</h1>

<h2>Créer un refrigerateur</h2>
  <%= form_with model: @refrigerateur, url: "/create-refrigerateur", method: :get  do |form| %>
    <%= form.label :name, "Nom du frigo" %>
    <%= form.text_field :name %>
    <%= form.submit %>
  <% end %>

  <h2>Liste des refrigerateurs</h2>
    <% @refrigerateurs.each do |refrigerateur|  %>

    <h3><%= refrigerateur.name %> - <%= refrigerateur.id %>  </h3>
        <h4>Contenu du frigo</h4>

          <% refrigerateur.ingredients.each do |ingredientsdufrigo| %>

            <p><%= ingredientsdufrigo.name %></p>

            <% end %>
        

        <h5> Liste des ingredients disponible </h5>
        <% @ingredients.each do |ingredient|  %>

          <%= form_with model: @ingredient, url: "/add-ingredient/", method: :post  do |form| %>
            <%= form.label :name, ingredient.name %>
            <%= form.hidden_field :id_refrigateur, value:refrigerateur.id %>
            <%= form.hidden_field :id_ingredient, value:ingredient.id %>
            <%= form.submit %>  
          <% end %>

        <% end %>
  
      
       
        <br><br><br><br><br><br>

    <% end %>
    
    

    <h2>Créer un ingredient </h2>
    <%= form_with model: @ingredient, url: "/create-ingredient", method: :get  do |form| %>
      <%= form.label :name, "Nom de l'ingredient" %>
      <%= form.text_field :name %>
      <%= form.submit %>
      
  <% end %>


